@font-face {
  font-family: "Trip Sans";
  src: url("TripSans-Medium.eot");
  src: url("TripSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("TripSans-Medium.woff2") format("woff2"),
    url("TripSans-Medium.woff") format("woff"),
    url("TripSans-Medium.ttf") format("truetype"),
    url("TripSans-Medium.svg#TripSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trip Sans";
  src: url("TripSans-Regular.eot");
  src: url("TripSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("TripSans-Regular.woff2") format("woff2"),
    url("TripSans-Regular.woff") format("woff"),
    url("TripSans-Regular.ttf") format("truetype"),
    url("TripSans-Regular.svg#TripSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
