body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: 49px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

p {
  line-height: 24px;
}

/* header */

header {
  height: 70px;
  background-color: white;
  margin-top: 50px;
}

header img {
  height: 30px;
}

.allHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pictos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pictos i {
  margin-right: 8px;
  line-height: 25px;
}

.alignPictos {
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
  box-sizing: border-box;
}

.alignPictos:hover {
  display: flex;
  align-items: center;
  background-color: rgb(125, 125, 125);
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}

.connect {
  background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
}

.alignPictos span {
  color: white;
  font-size: 14px;
}

nav p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

a :hover {
  background-color: gray;
}

.research {
  background-color: blueviolet;
}

/* Main */
.container h1 span {
  color: #ff5e5e;
}

.baseline {
  font-size: 13px;
  margin-top: 15px;
}

.baseline a {
  text-decoration-line: underline;
}

.search {
  display: flex;
  margin-top: 40px;
}

.searchTwo {
  display: flex;
  margin-top: 10px;
}

.search a {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.bottonSearch {
  background-color: white;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: black solid 2px;
  border-radius: 10px;
  padding: 0px 10px;
  flex: 1;
  margin-left: 10px;
}

.bottonSearch p {
  /* margin-right: 124px; */
}

.bottonSearch:hover {
  background-color: black;
  color: white;
}

.bottonSearch p:hover {
  color: white;
}

.pictures {
  margin-top: 40px;
  display: flex;
  gap: 5px;
}

.pictures img {
  height: 380px;
  flex: 1;
}

.secondPict img {
  display: flex;
  width: 310px;
  height: 187px;

  margin-bottom: 6px;
  box-sizing: border-box;
}

.navCity p {
  font-size: 10px;
}

.navCity {
  display: flex;
  justify-content: space-between;
}

.informations h2 {
  margin-top: 30px;
}

.informations p {
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
