body {
  font-family: "Trip Sans Regular";
  /* font-family: "tripadvisor-font"; */
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: 49px;
  font-weight: 700;
  font-family: "Trip Sans Medium";
}

h2 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 50px;
  font-family: "Trip Sans Medium";
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

p {
  line-height: 24px;
}

/* header */

header {
  height: 70px;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

.first-section {
  margin-top: 70px;
}

header img {
  height: 30px;
  cursor: pointer;
  margin-top: 9px;
}

.primary-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Trip Sans Medium";
  cursor: pointer;
}

.primary-nav .menu-items:hover {
  padding: 7px;
  border-radius: 15px;
  background-color: #ededed;
}

.primary-nav button {
  font-size: 14px;
  background: black;
  color: white;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

/* Main */
.container h1 span {
  color: #ff5e5e;
}

.baseline {
  font-size: 13px;
  margin-top: 15px;
}

.baseline a {
  text-decoration-line: underline;
}

.bottonSearch i {
  font-size: 22px;
}

.search {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search p {
  line-height: 15px;
}

.search a {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.bottonSearch {
  background-color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: black solid 2px;
  border-radius: 10px;
  padding: 0px 10px;
  flex: 1;
}

.bottonSearch p,
i {
  margin-top: 8px;
}

.bottonSearch:hover {
  background-color: black;
  color: white;
}

.images-bloc {
  /* border: black solid 2px; */
  height: 400px;
  display: flex;
  gap: 5px;
  margin-top: 50px;
}

.img-left {
  display: flex;
  background-image: url(../img/fort-national.jpg);
  background-size: cover;
  background-position: center;
  flex: 2;
  position: relative;
}

.img-left i {
  font-size: 20px;
}

.buttom-img {
  font-size: 11px;
  color: white;
  background-color: black;
  padding: 4px 6px;
  border-radius: 20px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  cursor: pointer;
}

.img-right {
  gap: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.img-top {
  background-image: url(../img/la-cite-d-aleth.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
}

.img-bottom {
  background-image: url(../img/st-vincent-cathedral.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
}

.navCity p {
  font-size: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.navCity {
  display: flex;
  justify-content: space-between;
}

.informations h2 {
  margin-top: 50px;
}

.informations p {
  color: #333333;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Section Carrousel */
/* <!-- Première colonne --> */

.first-column .title {
  font-size: 24px;
  line-height: 29px;
}

.first-column .text {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 30px;
  margin-bottom: 15px;
}

.first-column .link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}

/* <!-- Deuxième colonne --> */
/* parent */
.carrousel {
  display: flex;
  gap: 51px;
  margin-top: 15px;
}

/* enfant */
.first-column {
  flex: 1;
}

.first-column .image {
  width: 230px;
}

/* enfant */
.carrousel .second-column {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex: 3;
  gap: 15px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.second-column .image {
  position: relative;
  background-image: url(../img/plageBonSecours.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 200px;
}

.place {
  width: calc((100% / 3) + 10px);
  cursor: pointer;
}

.logo-tripad {
  position: absolute;
  background-color: #35e0a1;
  object-fit: contain;
  width: 30px;
  height: 40px;
  border-radius: 20px 20px 10px 10px;
  left: 10px;
  bottom: 10px;
}

.heart {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
}

.second-column .text {
  width: 233.23px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* compteur */
.count {
  display: flex;
  align-items: baseline;
  font-size: 14px;
}

.count .number {
  margin-left: 10px;
  font-size: 14px;
}

.count i {
  color: rgb(0, 106, 0);
}

.text-img p {
  font-size: 15px;
  line-height: 20px;
  margin-top: 5px;
}

/* footer */

footer {
  background-color: lavender;
  height: 160px;
}

footer div p {
  font-weight: bold;
  margin-top: 60px;
}

footer img {
  height: 40px;
  margin-top: 60px;
  margin-right: 10px;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* medias Query 768px */
@media (max-width: 768px) {
  body {
    background-color: #35e0a1;
  }

  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .primary-nav {
    display: none;
  }

  .top-menu {
    /* border: solid 2px black; */
    justify-content: space-around;
    align-items: center;
  }

  .first-section h1 {
    font-size: 39px;
    margin-left: 15px;
    margin-top: 80px;
  }

  .first-section p {
    font-size: 15px;
    margin-top: 15px;
    line-height: 18px;
  }
  .first-section a {
    font-size: 15px;
    margin: 15px;
  }

  nav .search {
    display: none;
  }

  .img-right {
    display: none;
  }

  .carrousel {
    flex-direction: column;
  }
}

/* medias Query 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: lightsalmon;
  }

  .top-menu .e035 {
    display: none;
  }

  .top-menu .e056 {
    display: none;
  }
}

/* medias Query 1184px */
@media (min-width: 1024px) and (max-width: 1184px) {
  body {
    background-color: #ef3da2;
  }

  .top-menu .e035 {
    display: none;
  }

  .top-menu .e056 {
    display: none;
  }
}

/* medias Query 1184px */
@media (min-width: 1184px) and (max-width: 1484px) {
  body {
    background-color: #efb43d;
  }

  .top-menu .e035 {
    display: none;
  }

  .top-menu .e056 {
    display: none;
  }
}

/* medias Query 1184px */
@media (min-width: 1484px) and (max-width: 2400px) {
  body {
    background-color: #4cef3d;
  }

  .top-menu .e035 {
    display: none;
  }

  .top-menu .e056 {
    display: none;
  }
}
