body {
  font-family: "Roboto", sans-serif;
  background-color: wheat;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: 49px;
  font-weight: 700;
}

/* header */

header {
  height: 70px;
  background-color: white;
  margin-top: 50px;
}

header img {
  height: 30px;
}

.allHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pictos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.alignPictos {
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
  box-sizing: border-box;
}

.connect {
  background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
}

.alignPictos span {
  color: white;
  font-size: 14px;
}

nav p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

a :hover {
  background-color: gray;
}

.research {
  background-color: blueviolet;
}

/* Main */
.container h1 span {
  color: #ff5e5e;
}

.baseline {
  font-size: 13px;
  margin-top: 15px;
}

.baseline a {
  text-decoration-line: underline;
}

.search {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.searchTwo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.bottonSearch {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: black solid 2px;
  border-radius: 10px;
  padding: 0px 10px;
  flex: 1;
  margin-left: 10px;
}

.bottonSearch:hover {
  background-color: black;
  color: white;
}

.bottonSearch p:hover {
  background-color: black;
  color: white;
}
